<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://qualifiedtruckers.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>qualifiedtruckers.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>QualifiedTruckers</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$QualifiedTruckers</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="QualifiedTruckers" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:l68m0acous.database.windows.net,1433;Initial Catalog=QualifiedTruckers;User ID=qualifiedtruckers@l68m0acous;Password=Killingt1!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WingtipToys.Models.ProductContext, WingtipToys" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="WingtipToys" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:l68m0acous.database.windows.net,1433;Initial Catalog=QualifiedTruckers;User ID=qualifiedtruckers@l68m0acous;Password=Killingt1!" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\QualifiedTruckers.mdf;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\WingtipToys_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\QualifiedTruckers.mdf;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="QT2a" Order="4" Enabled="False">
          <Destination Path="Data Source=tcp:l68m0acous.database.windows.net,1433;Initial Catalog=QualifiedTruckers;User ID=qualifiedtruckers@l68m0acous;Password=Killingt1!" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\QualifiedTruckers.mdf;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\QT2a_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\QualifiedTruckers.mdf;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)QT2a-Web.config Connection String">
      <ParameterValue>Data Source=tcp:l68m0acous.database.windows.net,1433;Initial Catalog=QualifiedTruckers;User ID=qualifiedtruckers@l68m0acous;Password=Killingt1!</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)QualifiedTruckers-Web.config Connection String">
      <ParameterValue>Data Source=tcp:l68m0acous.database.windows.net,1433;Initial Catalog=QualifiedTruckers;User ID=qualifiedtruckers@l68m0acous;Password=Killingt1!</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)WingtipToys-Web.config Connection String">
      <ParameterValue>Data Source=tcp:l68m0acous.database.windows.net,1433;Initial Catalog=QualifiedTruckers;User ID=qualifiedtruckers@l68m0acous;Password=Killingt1!</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="QualifiedTruckers" />
  </ItemGroup>
</Project>